{% extends 'base.html' %}

{% block head %}

{% endblock %}
class="full_text"
{% block body %}
<div class="full_text">
    <h1 style="text-align: center">Texts</h1>
    <table style="text-align: center" action="/" method="GET">
        <tr style="text-align: center">
            <th>ID</th>
            <th>Date Added</th>
            <th>Text</th>
            <th>Offers</th>
            <th>Accepts</th>
            <th>Device</th>
            <th>Actions</th>
        </tr>
        {% for text in texts %}
            <tr>
                <td> {{ text.id }} </td>
                <td> {{ text.submit_time }} </td>
                <td> {{ text.full_text }} </td>
                <td> {{ text.num_of_offers }} </td>
                <td> {{ text.num_of_accepts }} </td>
                <td> {{ text.gadget }} </td>
                <td>
                    <a href="/admin/delete/{{text.id}}">Delete</a>
<!--                    <br>-->
<!--                    <a href="">Update</a>-->
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}