{% extends 'base.html' %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='func.js') }}"></script>
{% endblock %}

{% block body %}
<div align="center" class="full_text">
    <h1 style="text-align: center"> Enter Your Text here </h1>
    <form action="/" method="POST" id="submit_text" class="form-inline">
        ID: <input type="text" name="content" id="content">
        <input type="submit" value="Add Text">
        <br>
        <textarea style="text-align: center" rows="10" cols="100" form="submit_text" id="nameInput" name="text_content">
        </textarea>
        <br>
        <button type="submit" class="btn btn-default">Predict</button>
	</form>
	<br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <script>
    function changing(){
        submit=true
        alert('Prediction to be here');
    }
    var timer;
    function change(){
        clearTimeout(timer);
        timer = setTimeout(changing, 1000);
    }
    </script>

</div>
{% endblock %}