{% extends 'base.html' %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--	<script src="{{ url_for('static', filename='func.js') }}"></script>-->

    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
{% endblock %}

{% block body %}
<div align="center" class="full_text">
    <h1 style="text-align: center"> Enter Your Text here </h1>
    <form action="/" method="POST" id="submit_text" class="form-inline">
        ID: <input type="text" name="content" id="content">
        <input type="submit" value="Add Text">
        <br>
<!--        <textarea style="text-align: center" rows="10" cols="100" form="submit_text" name="text_content" id="nameInput">-->
<!--        </textarea>-->
        <div id="nameInput"></div>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>
	    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    </form>

    <script>
        var toolbarOptions = [
        ['bold', 'italic'],
        [{ 'size': ['small', false, 'large', 'huge'] }],
        [{ 'color': [] }, { 'background': [] }]
      ]
      var quill = new Quill('#nameInput', {
        modules: {
          toolbar: toolbarOptions
        },
        theme: 'snow'
      });

    </script>

    <script>
        $('form').on('keyup', function(event) {
            $.ajax({
                data : {
                    name : $('#nameInput').val(),
                    editor : $('#editor').val()
                },
                type : 'POST',
                url : '/predict'
            })
            .done(function(data) {

                if (data.error) {
                    $('#errorAlert').text(data.error).show();
                    $('#successAlert').hide();
                }
                else {
                    $('#successAlert').text(data.name).show();
                    $('#errorAlert').hide();
                }

            });

            event.preventDefault();

        });
    </script>

</div>
{% endblock %}